<html>
<style type="text/css" media="screen">
      @media screen {
        @import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

        /* Thanks Outlook 2013! */
        td, h1, h2, h3 {
          font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
        }
      }
  </style>
	<body>
	<center>
	
	<h1>Your Appointment will be Reschedule</h1>
	
	<div bgcolor="#fff" marginheight="0" marginwidth="0" style="background-color:#fff"><div class="adM">
    </div>
      <table bgcolor="#fff" border="0" cellpadding="20" cellspacing="0" height="100%" style="background-color:white" width="100%">
        <tbody>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="20" cellspacing="0" style="border-top:10px solid #1196D0" width="100%">
                <tbody>
                  <tr>
                    <td align="center" style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:20px" valign="top">
                      <table border="0" cellpadding="20" cellspacing="0" width="100%">
                        <tbody>
                          <tr><td style="color:#333;font-family:Arial;font-size:14px;line-height:125%;text-align:left" valign="top">
                            <p>Hi aniket ,</p>
                            
                            <p>Your new appointment will be Reschedule with booking reference 20DB5081. Here are the details:</p>
                            
                            <p>princes shine
                            <br>Haircut, Facial<br>
                            <br><b><span class="aBn" data-term="goog_959611502" tabindex="0"><span class="aQJ">Wednesday, 5 Jul 2017 at 2:00pm</span></span></p></b>
                            
                            <p>At this location:</p>
                            
                            <p>princes shine</p>
                            
                            <p>Any Query? Please contact princes shine on .
                            </p>
                          </td>
                        </tr></tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table bgcolor="#FFF" border="0" cellpadding="10" cellspacing="0" style="background-color:white" width="100%">
                        <tbody>
                          <tr>
                            <td align="center">
                              <a href="www.google.com" style="color:#a8a6a6;font-family:Arial;font-size:12px;line-height:100%;text-decoration:none" target="_blank" data-saferedirecturl="www.google.com">Powered by SME</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
 
</html>


